<div class="frontpageContent">

  <mat-card class="mat-card-flat" style="text-align: center;padding-top: 100px">
    <mat-card-content >
      <mat-card-title style="color: grey" >Welcome to the Style !</mat-card-title>
    </mat-card-content>
    <mat-card-content style="padding-top: 50px">
      <button mat-raised-button color="warn" routerLink="/flasher">SCAN QR CODE</button>

    </mat-card-content>
    <mat-card-content style="padding-top: 30px">

      <button mat-raised-button color="warn" routerLink="/produits">PRODUITS</button>
    </mat-card-content>
  </mat-card>


  <footer >
    <mat-card class="mat-card-flat">
      <mat-card-content>
        <img mat-card-image src="assets/img/GoStyle.png">

      </mat-card-content>
    </mat-card>
  </footer>
</div>


