<div class="backgroundcolor">
<app-produit-par-nom></app-produit-par-nom>
<h1 style="text-align: center; color: grey"><b>Liste de produits</b></h1>

<section layout="row">
  <div class="button-row" >
    <button mat-raised-button color="primary" (click)="montrerPromo()" flex="50" >Nos produits</button>
    <button mat-raised-button color="accent" (click)="montrerPromoById()" flex="50">Promotion Special</button>
  </div>
</section>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let pp of produitTab">
      <mat-card class="mat-elevation-z4" style="margin: 10px">
        <mat-card-header >
          <mat-card-title> {{pp.nom}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{pp.photourl}}">
        <mat-card-content>
          <p>
            <b style="color: aquamarine">Description : </b> {{pp.description}}
          </p>
        </mat-card-content>
        <mat-card-actions >
          <button class="buttonColor" mat-button>Ajouter</button>
          <span> Prix : </span>
          <span>{{pp.prix}} €</span>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
</div>

<!--
<div class="promo">
  <button (click)="montrerPromo()">Promotion en cours</button>
  <button (click)="montrerPromoById()">Id-3</button>
  <ul>
    <li *ngFor="let prod of produitTab"> {{prod.title}} ({{prod.url}})</li>
  </ul>
</div>
-->
